.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.block-header {
  background: #EBEDF0;
  color: #006040;
  width: 644px;
  font-family: Roboto, sans-serif ;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
}
