.headerContainer {
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 60px;
	background-color: #006040;
	min-width: 400px;
}

.buttonContainer {
    align-content: center;
}

.buttonContainer:hover {
    background-color: #004830;
    cursor: pointer;
}

@media screen and (width < 700px) {
	.title {
		display: none;
	}
}
