.profile {
	height: 52px;
}

.profile:hover {
	background-color: #004830;
	cursor: pointer;
}

.nickname {
	display: block;
  line-height: 100% !important;
}


@media screen and (width <= 700px) {
	.nickname {
		display: none;
	}
}
