.mantine-modal-body	 {
  padding: 0 !important;
  border-radius: 2px 2px 0 0;
}

.content {
  padding: 0 !important;
  position: relative;
  border-radius: 2px 2px 0 0;
}

.content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: #006040;
}

.header {
  top: 0 !important;
  z-index: 999 !important;
  background: #006040;
  padding: 16px 12px !important;
  border-radius: 0 !important;
}

.title {
  color: #FFF;
  font-weight: 500;
  font-size: 18px
}

.close {
  color: #FFF;
}

.close:hover {
  background-color: transparent;
}
