.mantine-modal-body	 {
  padding: 0 !important;
}

.header {
  background: #006040;
  padding: 16px 12px;
  border-radius: 2px 2px 0 0;
}

.title {
  color: #FFF;
  font-weight: 500;
  font-size: 18px
}

.close {
  color: #FFF;
}

.close:hover {
  background-color: transparent;
}
