workflow:
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "dev"'
      variables:
        RUNNER_TAG: "sca-iis-dev"
    - if: '$CI_COMMIT_BRANCH == "dev"'
      variables:
        RUNNER_TAG: "sca-iis-dev"  

variables:
  #DOCKER_HOST: tcp://docker:2375/
  DOCKER_DRIVER: overlay2
  VERSION_TAG: latest


before_script:
 # - docker info
  - docker compose version

stages:
  - build
  - execute
  - test
  - push
  - cleanup

default:
  tags:
    - $RUNNER_TAG

build_job:
  stage: build
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'
      when: on_success
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "dev"'
      when: on_success
    - when: manual


  script:
    - echo "The job's stage is '$CI_JOB_STAGE'"
    - echo "The job's REGISTRY is '$CI_REGISTRY'"
    - echo "The job's REGISTRY IMAGE is '$CI_REGISTRY_IMAGE'"
    - echo "The job's CI PIPELINE ID is '$CI_PIPELINE_ID'"
    - pwd
    - cp ~/iis_configs/$CI_PROJECT_NAME/.* . -a -f #-v
    - cp ~/iis_configs/$CI_PROJECT_NAME/* . -a -f #-v
    - docker compose down --rmi all
    - docker compose build

execute_job:
  stage: execute
  script:
    - cp ~/iis_configs/$CI_PROJECT_NAME/.* . -a -f #-v
    - cp ~/iis_configs/$CI_PROJECT_NAME/* . -a -f #-v
    - docker compose down || true  
    - docker compose up -d
    - sleep 10
  dependencies:
    - build_job


test_job:
  stage: test
  script:
    - echo "The job's stage is '$CI_JOB_STAGE'"
    - echo "Checking HTTP response for http://localhost:3000"
    - |
      RESPONSE=$(curl --write-out "%{http_code}" --silent --output /dev/null http://localhost:3000)
      if [ "$RESPONSE" -ne 200 ]; then
        echo "Error: Received HTTP response code $RESPONSE"
        exit 1
      else
        echo "Success: Received HTTP response code $RESPONSE"
      fi
    - docker logs --tail 50 $CI_PROJECT_NAME
  dependencies:
   - build_job
   - execute_job

push_image_job:
  stage: push
  script:
    - echo "Pushing Docker image to local registry..."
    - echo "$CI_JOB_TOKEN" | docker login -u gitlab-ci-token --password-stdin git.asb.by:5050
    - VERSION_TAG=$(git describe --tags --abbrev=0 | sed 's/-.*//')
    - echo "Current version '$VERSION_TAG'"
    - FULL_VERSION="$VERSION_TAG.$CI_PIPELINE_ID"
    - echo "Full version '$FULL_VERSION'"
    - docker tag $CI_PROJECT_NAME $CI_REGISTRY_IMAGE:latest-$CI_COMMIT_BRANCH
    - docker tag $CI_PROJECT_NAME $CI_REGISTRY_IMAGE:$FULL_VERSION-$CI_COMMIT_BRANCH
    - docker push $CI_REGISTRY_IMAGE:latest-$CI_COMMIT_BRANCH
    - docker push $CI_REGISTRY_IMAGE:$FULL_VERSION-$CI_COMMIT_BRANCH

  dependencies:
   - build_job
   - execute_job
   - test_job

cleanup_job:
  stage: cleanup
  script:
    - echo "Build dir is $CI_PROJECT_DIR"
    - rm -rf $CI_PROJECT_DIR

