variables:
  #DOCKER_HOST: tcp://docker:2375/
  DOCKER_DRIVER: overlay2


before_script:
 # - docker info
  - docker compose version

stages:
  - build
  - execute
  - test
  - push

default:
  tags:
    - sca-iis-dev

build_job:
  stage: build
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'
      when: on_success
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "dev"'
      when: on_success
    - when: manual


  script:
    - echo "The job's stage is '$CI_JOB_STAGE'"
    - echo "The job's REGISTRY is '$CI_REGISTRY'"
    - echo "The job's REGISTRY IMAGE is '$CI_REGISTRY_IMAGE'"
    - echo "The job's CI PIPELINE ID is '$CI_PIPELINE_ID'"
    - pwd
    - cp ~/iis_configs/web_ui/.* . -a -f #-v
    - cp ~/iis_configs/web_ui/* . -a -f #-v
    - docker compose build

execute_job:
  stage: execute
  script:
    - cp ~/iis_configs/web_ui/.* . -a -f #-v
    - cp ~/iis_configs/web_ui/* . -a -f #-v
    - docker compose down || true  
    - docker compose up -d
    - sleep 3
  dependencies:
    - build_job


test_job:
  stage: test
  script:
    - echo "The job's stage is '$CI_JOB_STAGE'"
    - echo "Checking HTTP response for http://localhost:3000"
    - |
      RESPONSE=$(curl --write-out "%{http_code}" --silent --output /dev/null http://localhost:3000)
      if [ "$RESPONSE" -ne 200 ]; then
        echo "Error: Received HTTP response code $RESPONSE"
        exit 1
      else
        echo "Success: Received HTTP response code $RESPONSE"
      fi
  dependencies:
   - build_job
   - execute_job

push_image_job:
  stage: push
  script:
    - echo "Pushing Docker image to local registry..."
    - echo "$CI_JOB_TOKEN" | docker login -u gitlab-ci-token --password-stdin git.asb.by:5050

    - docker tag web-ui-app $CI_REGISTRY_IMAGE:latest-$CI_COMMIT_BRANCH
    - docker tag web-ui-app $CI_REGISTRY_IMAGE:v.0.0.$CI_PIPELINE_ID-$CI_COMMIT_BRANCH
    - docker push $CI_REGISTRY_IMAGE:latest-$CI_COMMIT_BRANCH   
    - docker push $CI_REGISTRY_IMAGE:v.0.0.$CI_PIPELINE_ID-$CI_COMMIT_BRANCH

  dependencies:
   - build_job
   - execute_job
   - test_job

