.tableContainer {
	margin: 0;
	padding: 0;
	width: 100%;
	height: calc(100vh- 60px);
	display: block;
	box-sizing: border-box;
}

.navIcon {
	cursor: pointer;
	width: 100%;
	padding: 0;
	margin: 0;
	height: 60px;
}

.navIcon:hover {
	background-color: #c7c7c7;
}