.table-container {
  margin: 0;
  padding: 0 25px;
  width: 100%;

  /* overflow: hidden; */
}

.card {
  background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
  );
  display: flex;
  justify-content: center;
  align-items: center;

  /* min-width: 1000px; */
}

.title {
  font-weight: 700;
  text-align: center;
}

@mixin hover {
  box-shadow: var(--mantine-shadow-md);
  transform: scale(1.05);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  border-radius: var(--mantine-radius-md);
  height: 110px;
  background-color: light-dark(
      var(--mantine-color-white),
      var(--mantine-color-dark-7)
  );
  transition: box-shadow 150ms ease,
  transform 100ms ease;

  &:hover {
    @include hover; // Вызов миксина при наведении
  }
}


//.item:hover {
//  box-shadow: var(--mantine-shadow-md);box-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadowbox-shadow
//  transform: scale(1.05);transformtransformtransformtransformtransformtransformtransform
//}

/* .breadcrumbsItem {
	color: #006040;
}

.dark-theme .breadcrumbsItem {
	color: #8B8B8B;
} */


