.main-container-light {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 500px;
  background-image: url("../../../../public/assets/background.png");
}

.main-container-dark {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 500px;
  height: 100%;
  background-image: url("../../../../public/assets/background-dark-mode.png");
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
