.header-container {
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 52px;
	background-color: #006040;
}

.button-container {
    align-content: center;
}

.button-container:hover {
    background-color: #004830;
    cursor: pointer;
}

@media screen and (width < 700px) {
	.title {
		display: none;
	}
}
