.header-container {
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 52px;
	background-color: #006040;
}

.button-container {
    align-content: center;
}

.button-container:hover {
    cursor: pointer;
}

.search-input {
  outline: none !important;
  border: none;
}

.search-input:focus {
  outline: none !important;
  border: none;

}

@media screen and (width < 700px) {
	.title {
		display: none;
	}
}

.search-input {
  outline: none;
  border: none;
}

.search-input:focus {
  outline: none;
  border: none;

}
