.fileButton {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	/* width: 100%; */
    margin: 20px 30px;
    padding: 10px;
	border-radius: var(--mantine-radius-md);
	/* height: rem(110px); */
	background-color: light-dark(
		var(--mantine-color-white),
		var(--mantine-color-dark-7)
	);
	cursor: pointer;

	transition:
		box-shadow 150ms ease,
		transform 100ms ease;

	@mixin hover {
		box-shadow: var(--mantine-shadow-lg);
		transform: scale(1.05);
	}
}
