.main-container-light {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 500px;
  height: calc(100vh - 52px);
  background-image: url("../../../../public/assets/background.svg");
}

.main-container-dark {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 500px;
  height: calc(100vh - 52px);
  background-image: url("../../../../public/assets/background-dark-mode.svg");
}

.stack-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.all-panels-wrapper {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}
