.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  width: 100%;
  gap: 15px;
  padding: 10px 15px;
  border-bottom: 1px solid #DFDFDF;
}
