.nav-button, .nav-button-active, .nav-button-dark {
  cursor: pointer;
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
  background-color: #006040;
}

.nav-button:hover {
  background-color: #004830;
}

.nav-button-dark:hover {
  background-color: #004830;
}

.nav-button-active {
  background-color: #FFFFFF;
}
