.main-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100vh - 60px);
  overflow-x: hidden;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
