.input-block {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}

.input-block span {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
  margin-bottom: 4px;
}

.input {
  border: 1px solid #999;
  border-radius: 2px;
  position: relative;
  width: 100%;
  height: 30px;
  padding: 0 0 0 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:focus {
    outline: none;
  }
}


.text-input {
  border: none;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  resize: none;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
  height: 32px !important;


  &:focus {
    outline: none;
  }

  &:disabled {
    background: white;
    color: black;
  }
}

.check-box-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}



.input-with-icon-wrapper {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  right: 12.5px;
}

.error {
  color: red;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
}

.right-text {
  text-wrap: nowrap;
}

.input-container {
  position: relative;
  display: inline-block; // Чтобы ширина контейнера соответствовала инпуту
}

.input-error {
  border: 1px solid #ff0000 !important;
}

.error-icon-wrapper {
  position: absolute;
  top: -8px;
  right: -8px;
  z-index: 5;
}

.error-badge {
  width: 18px;
  height: 18px;
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
