.input-block {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}

.input-block span {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
  margin-bottom: 4px;
}

.input {
  border: 1px solid #999;
  border-radius: 2px;
  position: relative;
  width: 100%;
  height: 30px;
  padding: 0 0 0 10px;

  &:focus {
    outline: none;
  }
}

.input-with-icon-wrapper {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  right: 12.5px;
}
