.profile {
	height: 60px;
	padding-left: 10px;
	
}

.profile:hover {
	background-color: #004830;
	cursor: pointer;
}

.nickname {
	display: block;
}

@media screen and (width < 700px) {
	.nickname {
		display: none;
	}
}
