@font-face {
    font-family: "Roboto-Regular";
    src: url("../public/fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html { height: 100%; }

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.mantine-Breadcrumbs-breadcrumb {
    text-decoration: none;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #8b8b8b #DFE9EB;
}

*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #0a0a0a;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #62A34B;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #62A34B;
}
