@font-face {
    font-family: Roboto-Regular;
    src: url("../public/fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html {
    height: 100%;
}


body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* !* Для Chrome, Safari и Edge *! */

/** ::-webkit-scrollbar { */

/*    width: 12px; */

/*    height: 12px; */

/* } */

/** ::-webkit-scrollbar-thumb { */

/*    background-color: #999; */

/*    border-radius: 8px; */

/* } */

/** ::-webkit-scrollbar-track { */

/*    background: transparent; !* Цвет фона скроллбара *! */

/* } */


/* !* Для IE и Edge (старые версии) *! */

/** ::-ms-scrollbar { */

/*    width: 12px; */

/*    height: 12px; */

/* } */

/** ::-ms-scrollbar-thumb { */

/*    background-color: #999; */

/*    border-radius: 8px; */

/* } */
