.nav-button, .nav-button-active, .nav-button-dark {
  cursor: pointer;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.nav-button:hover {
  background-color: #c7c7c7;
}

.nav-button-dark:hover {
  background-color: #444;
}

.nav-button-active {
  background-color: #006040;
}
