.navIcon, .navIconActive, .navIconDark {
	cursor: pointer;
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
}

.navIcon:hover {
	background-color: #c7c7c7;
}

.navIconDark:hover {
	background-color: #444444;
}

.navIconActive {
	background-color: #006040;
}