.cell {
    width: 100%;
    padding: 0;
}

.status-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cell:hover {
    cursor: pointer;
}

.modal-title {
  font-size: 24px;
  position: absolute !important;
  z-index: 1001 !important;
  padding: 10px 10px 10px 0;
}

.button {
  line-height: 100%;
  &:disabled {
    color: #EBEDF0;
    opacity: 50%;
    background-color: #006040;
  }
}

.checkbox-label {
  padding-left: 4px !important;
}
