.backLink {
    text-decoration: none;
    font-size: 40px;
    color: black;
}

.notFoundContainer {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../public/assets/background.png");
}

.notFoundDarkContainer {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../public/assets/background-dark-mode.png");
}

