.backLink {
    text-decoration: none;
    font-size: 22px;
    color: black;
    border-bottom: 2px solid black;
}

.backLink:hover {
    font-size: 24px;
    transition: all 0.3s ease-in-out;

}

.notFoundContainer {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../public/assets/background.png");
}

.notFoundDarkContainer {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../public/assets/background-dark-mode.png");
}

