.icon {
    color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-3));
  }
  
.name {
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
  }
  
  .mainContainerLight {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: calc(100vh - 60px);
	background-image: url("../../../public/assets/background.png");
}

.mainContainerDark {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: calc(100vh - 60px);
	background-image: url("../../../public/assets/background-dark-mode.png");
}