.icon {
    width: 22px;
    height: 22px;
  }
  
  .dark {
    @mixin dark {
      display: none;
    }
  
    @mixin light {
      display: block;
    }
  }
  
  .light {
    @mixin light {
      display: none;
    }
  
    @mixin dark {
      display: block;
    }
  }

  .themeSwitcher {
    height: 52px;
  }
  
  .themeSwitcher:hover {
    background-color: #004830;
    cursor: pointer;
  }