.header {
  top: 0 !important;
  z-index: 999 !important;
  background: #006040;
  padding: 12px 16px !important;
  border-radius: 0 !important;
  height: 45px !important;
  min-height: 0 !important;
}
