.menu-wrapper::-webkit-scrollbar {
  display: none;
}

.menu-wrapper {
  min-width: 70px;
}

.item {
  color: transparent !important;
  height: 54px;
}

.item:hover {
  background-color: white;
}

.item span {
  color: white;
}

.item:hover span {
  color: black;
}


.dropdown {
  height: inherit;
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

.menu-sub-item {
  height: 34px;
}

.menu-sub-dropdown {
  padding: 0 !important;
}

.icon-span {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  vertical-align: middle;
  text-wrap: nowrap;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-text-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
  margin-left: 10px;
}
