.menu-wrapper::-webkit-scrollbar {
  display: none;
}

.menu-wrapper {
  min-width: 70px;
  transition: width 0.3s ease;
}

.menu-text-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
  width: 150px;
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 0.1s ease, transform 0.1s ease;
}

.menu-wrapper.open .menu-text-wrapper {
  opacity: 1;
  transform: translateX(0);
}

.item {
  color: transparent !important;
  height: 54px;
  transition: color 0.3s ease;
}

.item span {
  color: white;
}


.dropdown {
  height: inherit;
  min-height: 364px;
  width: 450px !important;
  overflow: hidden auto;
  padding: 0 !important;
  padding-top: 4px !important;
}

.menu-sub-item {
  height: 34px;
}

.menu-sub-dropdown {
  padding: 0 !important;
}

.icon-span {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  vertical-align: middle;
  text-wrap: nowrap;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  width: 40px;
  margin-right: 30px;
}

.menu-text-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
  width: 150px;
}

.search-input {
  width: 95%;
  border: 1px solid #999;
  padding: 6px 10px;
  margin-left: 10px;
}

.search-input:focus {
  border: 1px solid #999 !important;
  outline: none;
}

.link {
  width: 100%;
  margin-right: 10px;
  text-decoration: none;
}

.logout {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 30px;
  gap: 46px;
}

.logout span {
  line-height: 0;
  color: white;
}

.item:hover span {
  color: black;
}

.item:hover {
  background-color: white;
}
