.authContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../public/assets/background.png");
}

.darkContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../public/assets/background-dark-mode.png");
}