.mantine-modal-body	 {
  padding: 0 !important;
  border-radius: 2px 2px 0 0;
}

.content {
  padding: 0 !important;
  position: relative;
  border-radius: 2px;
}

.content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: #006040;
}

.header {
  top: 0 !important;
  z-index: 999 !important;
  background: #006040;
  padding: 12px 16px !important;
  border-radius: 0 !important;
  height: 45px !important;
  min-height: 0 !important;
}

.title {
  color: #FFF;
  font-weight: 500;
  font-size: 18px
}

.close {
  color: #FFF;
}

.close:hover {
  background-color: transparent;
}

.button {
  background: #007458 !important;
  padding: 8px 16px !important;
  border-radius: 2px !important;
  font-size: 12px;
  line-height: 14px;
  height: 30px;
}
