.icon {
  width: 22px;
  height: 22px;
}

.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}

.documentation-button {
  height: 52px;
}

.documentation-button:hover {
  background-color: #004830;
  cursor: pointer;
}
